<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="com.slin.study.kotlin.ui.natively.mmap.MMapServerService.permission" />

    <application
        android:name=".StudyKotlinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.responsive.ResponsiveActivity"
            android:exported="false"
            android:label="@string/title_activity_responsive"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.jetpack.HiltInjectActivity" />
        <activity android:name=".ui.jetpack.JetPackActivity" />
        <activity android:name=".ui.floatwin.FloatWindowActivity" />
        <activity android:name=".ui.jetpack.ViewBindActivity" />
        <activity android:name=".ui.jetpack.DataBindActivity" />
        <activity android:name=".ui.material.MaterialDesignActivity" />
        <activity android:name=".ui.bottomsheet.BottomSheetTestActivity" />
        <activity android:name=".ui.material.MaterialThemingActivity" />
        <activity android:name=".ui.transition.TransitionDetailActivity" />
        <activity android:name=".ui.transition.ViewLargeImageActivity" />
        <activity android:name=".ui.transition.TransitionListActivity" />
        <activity android:name=".ui.material.MaterialThemeActivity" />
        <activity android:name=".ui.motion.MotionLayoutTestActivity" />
        <activity android:name=".ui.motion.SimpleMotionActivity" />
        <activity android:name=".ui.transition.LayoutTransitionActivity" />
        <activity android:name=".ui.librarycase.LibraryCaseActivity" />
        <activity android:name=".ui.librarycase.kodein.KodeinCaseActivity" />
        <activity android:name=".ui.jetpack.DataStoreActivity" />
        <activity android:name=".ui.jetpack.WorkManagerTestActivity" />
        <activity android:name=".ui.jetpack.VMLiveDataActivity" />
        <activity android:name=".ui.theory.TheoryTestActivity" />
        <activity android:name=".ui.theory.TouchEventActivity" />
        <activity android:name=".ui.theory.HandlerTestActivity" />
        <activity android:name=".ui.jetpack.ViewPager2Activity" />
        <activity android:name=".ui.librarycase.matrix.MatrixTestActivity" />
        <activity android:name=".ui.transition.fragment.TransitionFragmentActivity" />
        <activity android:name="com.slin.study.kotlin.ui.natively.NativeCaseActivity" />
        <activity android:name="com.slin.study.kotlin.ui.natively.mmap.MMapTestActivity" />

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            tools:node="merge" />
        <service
            android:name="com.slin.study.kotlin.ui.natively.mmap.MMapServerService"
            android:exported="true"
            android:permission="com.slin.study.kotlin.ui.natively.mmap.MMapServerService.permission">
            <intent-filter>
                <action android:name="com.slin.study.kotlin.ui.natively.mmap.MMapServerService.Bind" />
            </intent-filter>
        </service>
    </application>

</manifest>